<br>
<br>
<br>

<div class="row">
  <div class="col-sm-1"></div>
  <div class="col-sm-5">
    <h4>Serving the Pittsburgh area for over 10 Years</h4>
    <p>
      At Nick Halls Auto Sales, we feel that buying a used car doesn't have to be a nightmare. As a long-time member of the community, Nick Halls Auto Sales has built an unparalleled reputation for quality and perfection, standing behind every vehicle to make sure the customer's needs are always met. We have options to fit any financial concerns along with our very low competitive prices. Come by and see us at our convenient location, located 5 mins from the Liberty and Fort Pitt Tunnels, and let us put you behind the wheel of the vehicle you deserve today.
    </p>
  </div>
  <div class="col-sm-5">
    <h4 class="quoteHeader">Hear What Our Customers Have To Say</h4>
    <div >
      <blockquote class="pull-right">
        <p>A fanatic is one who can't change his mind and won't change the subject.</p>
        <small>by <cite>Winston Churchill</cite></small>
      </blockquote>
    </div>
  </div>
  <div class="col-sm-1"></div>
</div>
