<h2> All Items </h2>

<% for (i = 0; i < items.length; i++) { %>

  <br><img src=<%= items[i].picture1 %> width="100" />
  <br><a href="../crud/item/<%= items[i].id %>">Detail Page</a>
  <br><a href="../crud/item/<%= items[i].id %>/edit">Edit</a>
  <br><a href="../crud/item/<%= items[i].id %>/delete">Delete</a>


<% } %>
