<h2> Create New Car </h2>

<div class="row">
  <div class="col-md-4">

<!-- <form action="/crud/create" method="POST" enctype="multipart/form-data"> -->
<form action="/crud/create" method="POST" enctype="multipart/form-data">
  <button type="submit" class="btn btn-primary">Create New Car</button>

  <table>
    <tr><div>
      <td><label for="make"> Make </label></td>
      <td><input type="text" name="make"></td>
    </div></tr>
    <tr><div>
      <td><label for="model"> Model </label></td>
      <td><input type="text" name="model"></td>
    </div></tr>
    <tr><div>
      <td><label for="year"> Year </label></td>
      <td><input type="text" name="year"></td>
    </div></tr>
    <tr><div>
      <td><label for="miles"> Miles </label></td>
      <td><input type="text" name="miles"></td>
    </div></tr>
    <tr><div>
      <td><label for="price"> Price </label></td>
      <td><input type="text" name="price"></td>
    </div></tr>
    <tr><div>
      <td><label for="vin"> VIN </label></td>
      <td><input type="text" name="vin"></td>
    </div></tr>
    <tr><div>
      <td><label for="stock"> Stock </label></td>
      <td><input type="text" name="stock"></td>
    </div></tr>
    <tr><div>
      <td><label for="trim"> Trim </label></td>
      <td><input type="text" name="trim"></td>
    </div></tr>
    <tr><div>
      <td><label for="transmission"> Transmission </label></td>
      <td><input type="text" name="transmission"></td>
    </div></tr>
    <tr><div>
      <td><label for="speeds"> Speeds </label></td>
      <td><input type="text" name="speeds"></td>
    </div></tr>
    <tr><div>
      <td><label for="engine"> Engine </label></td>
      <td><input type="text" name="engine"></td>
    </div></tr>
    <tr><div>
      <td><label for="fuel"> Fuel </label></td>
      <td><input type="text" name="fuel" value="Gasoline"></td>
    </div></tr>
    <tr><div>
      <td><label for="ext"> Exterior </label></td>
      <td><input type="text" name="ext"></td>
    </div></tr>
    <tr><div>
      <td><label for="int"> Interior </label></td>
      <td><input type="text" name="int"></td>
    </div></tr>
    <tr><div>
      <td><label for="show"> Show in Inventory</label></td>
      <td><input type="text" name="show" value="True"></td>
    </div></tr>
  </table>
  <!-- <div>
    <label for="features"> Features </label>
    <input type="text" cols="50" rows="6" name="features" textarea rows="4" cols="50">
  </div> -->




<!-- For Multiple File Uploads using Multer -->
<!-- https://codeforgeek.com/2016/01/multiple-file-upload-node-js/ -->
<!-- <input type="file" name="" multiple /> -->

</div>
<div class="col-md-4">
  <table>
    <tr><div>
      <td><label for="picture1"> Picture </label></td>
      <td><input id="picture1" type="file" name="picture1" multiple="multiple"></td>
    </div></td>
  </table>


<!--
<div>
<label for="picture2"> Picture 2 </label>
<input id="picture2" type="file" name="picture2">
</div>
-->

<!--
<div>
  <label for="picture3"> Picture 3 </label>
  <input id="picture3" type="file" name="picture3">
</div><div>
  <label for="picture4"> Picture 4 </label>
  <input id="picture4" type="file" name="picture4">
</div><div>
  <label for="picture5"> Picture 5 </label>
  <input id="picture5" type="file" name="picture5">
</div><div>
  <label for="picture6"> Picture 6 </label>
  <input id="picture6" type="file" name="picture6">
</div><div>
  <label for="picture7"> Picture 7 </label>
  <input id="picture7" type="file" name="picture7">
</div><div>
  <label for="picture8"> Picture 8 </label>
  <input id="picture8" type="file" name="picture8">
</div><div>
  <label for="picture9"> Picture 9 </label>
  <input id="picture9" type="file" name="picture9">
</div><div>
  <label for="picture10"> Picture 10 </label>
  <input id="picture10" type="file" name="picture10">
</div> -->

</div>
<div class="col-md-4">
  <table>
    <tr><div>
      <td><label for="description"> <data value=""></data>Description </label></td>
      <td><textarea name="description" rows="6" >
      </textarea></td>
    </div></tr>
    <tr><div>
      <td><label for="equipment"> Equipment </label></td>
      <td><textarea name="equipment" rows="6" >
      </textarea></td>
    </div></tr>
    <tr><div>
      <td><label for="features"> Features </label></td>
      <td><textarea name="features" rows="6" >Features
      </textarea></td>
    </div></tr>
  </table>
</div>


</form>


</div>
