
<br>
<br>

<div class="row">
  <div class="col-sm-1"></div>
  <div class="col-sm-10">
    <br>Located Minutes from Liberty and Fort Pitt tunnels
    <br>Quality Pre-Owned Vehicles for Every Budget!

  </div>
  <div class="col-sm-1"></div>

</div>
  <div class="row" >
      <div class="col-sm-1"></div>
      <div class="col-sm-3" *ngFor="let item of items" >
          <a href="#" (onclick)="details(item._id)"><img class="img-circle img-responsive img-center" src="{{ item.picture1 }}" alt="" width="200" height="200"></a>
          <h3>{{ item.make }} | {{ item.model }}</h3>
          <p>$ {{ item.price }}</p>
      </div>
      <div class="col-sm-1"></div>

      <!--
      <div class="col-sm-4">
          <img class="img-circle img-responsive img-center" src="http://lorempixel.com/200/199/" alt="">
          <h2>Marketing Box #2</h2>
          <p>The images are set to be circular and responsive. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.</p>
      </div>
      <div class="col-sm-4">
          <img class="img-circle img-responsive img-center" src="http://lorempixel.com/200/201/" alt="">
          <h2>Marketing Box #3</h2>
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.</p>
      </div>
      -->
  </div>





<!-- ------------------------- -->
<div *ngFor="let item of items">
  {{ item.make }}
  <br><img src="{{ item.picture1 }}" width="100" />
</div>
